/****************************
 Global
****************************/

body {
  background-color: #000; }

button, input[type=button], input[type=submit]{
  background: #F4F0E8;
  border: none; }
  button:hover, input[type=button]:hover, input[type=submit]:hover{
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5); }

.circle {
    border-radius: 50%;
    border: 3px solid #fff;}

h1, h2, h3, p , table{
  color: #fff;
  font-family: "Courier New", Courier, monospace; }

/****************************
 Header
****************************/

.app-logo {
  display: block;
  width: 50vw;
  margin: 4vh 4vw 0 20vw;
  padding-top: 2.5vh; }

.cereal-logo {
  box-shadow: 0px 0px 3px .5px #fff;
  float: left;
  min-height: 10vh;
  width: 7vw; }

header {
  height: 8vh;
  min-width: 100vh;
  margin: 5vh 8vh 15vh 7vh; 
  text-align: center; }

/****************************
 Footer
****************************/

.footer {
  margin: 0 9vw;
  width: 81vw; }
  .footer button {
    font: 100 4vh "Courier New", Courier, monospace;
    height: 10vh;
    margin: 4vh 0 0 60vw;
    text-align: center;
    width: 20vw; }

/****************************
  Directive: Login
****************************/

.login {
  margin: auto;
  max-height: 50vh;
  min-width: 100vh;
  text-align: center; }
 .login input {
    display: block;
    font: 100 4vh "Courier New", Courier, monospace;
    margin: 2.5vh auto;
    padding: 4vh 10vh;
    width: 50vh; }
  .login input[type=submit] {
    width: 71vh; }

/****************************
 Directive: Recommendation
****************************/

.recommendation {
  background: #000;
  border-radius: 15px;
  border: 0.5vh solid #fff;
  float: right;
  height: 49vh;
  margin: 24px 9vw 5px 0;
  min-height: 300px;
  text-align: center;
  width: 35vw; }
  .recommendation img {
    height: 10vh; }
  .recommendation .label {
    margin: -27px 0 0;
    padding: 0; }
  .recommendation .label span {
    background-color: #000;
    margin: -36px 0 0;
    padding: 0; }
  .recommendation .left {
    width: 25vw; }
  .recommendation .right {
    width: 10vw; }
  .recommendation table {
    margin-top: 15vh; }
  .recommendation td {
    text-align: center; 
    font-size:  3.5vh; }
  .recommendation .volume {
    font-size: 14vh;
    padding-right: 0; }

/****************************
  Directive: User
****************************/

.user {
  float: right;
  text-align: right; }
  .user img {
    display: block;
    height: 6.5vh;
    margin: 2.3vh auto 0 auto; }
  .user p {
    font-size: 2.2vh;
    margin: 2.5vh 0.7vw 0 0; }

/****************************
  Directive: User List
****************************/

.user-list {
  margin: 0 20vw;
  text-align: center; }
  .user-list div {
    display: inline-block;
    text-align: center;
    width: 20vh; }
  .user-list h1 {
    margin-bottom: 8vh; }
  .user-list img {
    height: 15vh; }
  .user-list p {
    margin-top: 1vh;
    font-size: 2.5vh; }

/****************************
 Directive: Weigh Time
****************************/

.weigh-time {
   margin: 0 20vw;
   text-align: center; }
   .weigh-time input {
     font-family: "Courier New", Courier, monospace;
     font-size: 4vh;
     margin: 2.5vh auto;
     padding: 4vh 10vh;
     width: 71vh; }

/****************************
 Directive: Weigh In
****************************/

.weigh-in {
  background: #000;
  border-radius: 15px;
  border: 0.5vh solid #fff;
  float: left;
  height: 49vh;
  margin: 24px 10vw 0 10vw;
  min-height: 300px;
  text-align: center;
  width: 79vw;}
  .weigh-in.half {
    margin-right: 0;
    width: 35vw; }
  .weigh-in .label {
    margin: -27px 0 0;
    padding: 0; }
  .weigh-in .label span {
    background-color: #000;
    margin: -36px 0 0;
    padding: 0; }
  .weigh-in .scale-output {
    height: 27vh;
    position: relative;
    margin-top: 15vh; }
  .weigh-in .see-weight {
    border-radius: 5px;
    color: #000;
    font: 2vh "Courier New", Courier, monospace;
    height: 4vh;
    width: 10vW; }
  .weigh-in .units {
    font-family: "Courier New", Courier, monospace;
    font-size:  3.5vh; }
  .weigh-in .weight {
    font-family: "Courier New", Courier, monospace;
    font-size:  14vh; }
