<section class="footer">
  <button type="button" ng-click="nextView()">
    <span ng-if="view === 'weighCereal'">Next</span>
    <span ng-if="view === 'recommendation'">Logout</span>
  </button>
</section>
