  <form class="login"  ng-animate="'fade'">
    <h1>WELCOME BREAKFAST CHAMPION</h1>
    <input type="text" name="email" placeholder="Email...">
    <input type="password" name="password" placeholder="Password...">
    <input type="submit" value="Login" ng-click="nextView(); $event.stopPropagation();">
  </form>
