<div class="recommendation" ng-controller="RecommendController">
  <h2 class="label"><span>&#xA0;&#xA0;&#xA0; MILK &#xA0;&#xA0;&#xA0;</span></h2>
  <div class="milk">
    <table>
      <tr>
        <td class="volume left">{{dairy.milkAmount}}</td>
        <td class="right">
          <img src="img/milk.png">
        </td>
      </tr>
      <tr>
        <td class="left">
          <span class="units">ml</span>
        </td>
        <td class="type right">{{dairy.milkType}}</td>
      </tr>
    </table>
  </div>
</section>
