<section class="user-list" ng-controller="TeamController">
  <h1>IDENTIFY YOURSELF</h1>
  <div ng-repeat="member in team">
    <a ng-click="selectUser(member); nextView();">
      <img  class="circle" ng-src="{{member.photo}}">
      <p>{{member.firstName}}<br />{{member.lastName}}</p>
    </a>
  </div>
</section>
