<section class="user" ng-hide="view === 'login' || view === 'userList'" ng-controller="UserController">
  <table>
    <tr>
      <td><p>
        <strong>
          <span ng-bind="newUser.firstInitial"></span>
          <span ng-bind="newUser.lastName"></span>
        </strong><br />
          <span ng-bind="newUser.number"></span>
        </p></td>
      <td><img class="circle" ng-src="{{newUser.photo}}"></td>
    </tr>
  </table>
</section>
