<div class="weigh-in" ng-class="{half: view === 'recommendation'}">
  <h2 class="label"><span>&#xA0;&#xA0;&#xA0; CEREAL &#xA0;&#xA0;&#xA0;</span></h2>
  <div class="scale-output">
    <p ng-hide="toggle">
      <span class="weight" id="scale">0</span><br>
      <span class="units">grams</span>
    </p>
  </div>
  <button class="see-weight" ng-click="toggle = !toggle; scale()">
    <span ng-show="toggle"><i class="fa fa-unlock-alt"></i>&#xA0;SHOW</span>
    <span ng-hide="toggle"><i class="fa fa-lock"></i>&#xA0;HIDE</span>
  </button>
</div>
